{% extends 'base.html.twig' %}

{% block title %}Clase index{% endblock %}

{% block body %}
    <h1>Clase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo_clase</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clase in clases %}
            <tr>
                <td>{{ clase.id }}</td>
                <td>{{ clase.nombre }}</td>
                <td>{{ clase.codigoClase }}</td>
                <td>
                    <a href="{{ path('clase_show', {'id': clase.id}) }}">show</a>
                    <a href="{{ path('clase_edit', {'id': clase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clase_new') }}">Create new</a>
{% endblock %}
