{% extends 'base.html.twig' %}

{% block title %}Clase{% endblock %}

{% block body %}
    <h1>Clase</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clase.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ clase.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo_clase</th>
                <td>{{ clase.codigoClase }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('clase_index') }}">back to list</a>

    <a href="{{ path('clase_edit', {'id': clase.id}) }}">edit</a>

    {{ include('clase/_delete_form.html.twig') }}
{% endblock %}
